.nav {
  border-bottom: 1px solid var(--clr-neutral-400);
  margin-bottom: 2em;
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-block: 2em;
}

.logo {
  margin-right: 0.25em;
}

.navList {
  display: flex;
  gap: 1em;
}

.navList li {
  text-transform: uppercase;
  font-size: 0.75rem;
}
