.container {
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
}

.hr {
  border: 0;
  border-top: 1px solid var(--clr-neutral-400);
  margin: 1.5rem 0;
}

.btn {
  display: inline-block;
  color: var(--clr-primary-700);
  text-transform: uppercase;
  font-size: 0.75rem;
  /* padding: 0.75em 2.25em; */
  padding: 1em;
  margin-block: 1em;
  cursor: pointer;
  border: 1px solid var(--clr-primary-700);
  border-radius: 0.25em;
  text-align: center;
}

.btnPrimary {
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-400);
}
